/* место для вашего кода */
.content_section {
  margin: auto;
  box-sizing: border-box;
  width: 100%;
  max-width: 1440px;
}

.header {
  max-width: 1340px;
  display: grid;
  grid-template-columns: 3fr 2fr 3fr;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin: 92px auto;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 34px;
}

.header__links-list-item {
  list-style: circle;
  color: #000;
  font-size: 18px;
  font-family: Raleway, sans-serif;
}

.menu__links-list-item_no-bullit {
  list-style-type: none;
}

.menu__link {
  text-decoration: none;
  border-bottom: 1px solid black;
}

.menu__link_active {
  border-bottom: none;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: start;
  margin-bottom: 4px;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

address {
  display: block;
  max-width: 240px;
  margin: 0;
  font-family: Raleway, sans-serif;
  color: #000;
  font-size: 18px;
  font-style: normal;
  line-height: 1.35;
}

.header__address {
  display: flex;
  justify-content: end;
  align-items: start;
  text-align: left;
}

.address__list-item {
  list-style-type: none;
}
.address__link {
  text-decoration: none;
  border-bottom: 1px solid black;
}

.cover {
  display: block;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-width: 1440px;
  position: relative;
  z-index: 1;
  padding-top: 165px;
  padding-bottom: 50px;
}

.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0/0.6);
  z-index: 0;
}

.cover__title {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  max-width: 1340px;
  width: 100%;
  margin-left: 50px;
  margin-right: 50px;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 100px;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  z-index: 2;
}

.aligned-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  line-height: 1.15;
}

.aligned-text_center {
  justify-content: center;
  line-height: 1;
}

.aligned-text_right {
  justify-content: flex-end;
  line-height: 1;
}
.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0px;
}

.cover__description {
  margin-left: 50px;
  margin-right: 50px;
  max-width: 1340px;
  display: flex;
  justify-content: end;
  flex-direction: row;
  align-items: end;
  margin-top: 135px;
  gap: 78px;
  position: relative;
}

.cover__description-text {
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  z-index: 2;
}

.cover__description-text-spacing {
  display: block;
  max-width: 633px;
  width: 100%;
  word-spacing: 17px;
  margin-bottom: 12px;
}

.bet-button {
  width: 257px;
  min-height: 52px;
  background-color: transparent;
  word-spacing: normal;
  color: #fff;
  border: 1px solid currentColor;
  padding: 5px 10px;
}

.lots {
  margin-top: 180px;
  margin-left: 50px;
  margin-right: 50px;
  max-width: 1340px;
}

.lots__heading {
  margin-bottom: 27px;
  margin-left: 40px;
  font-family: Raleway, sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  flex-direction: row;
  margin-bottom: 30px;
}

.lots__card-list-item {
  display: flex;
  width: 430px;
  min-height: 450px;
  flex-grow: 1;
  justify-content: center;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 50px 40px;
  color: #fff;
  background: center/cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  font-family: Raleway, sans-serif;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: underline;
  z-index: 1;
}

.card__text {
  font-family: Raleway, sans-serif;
  color: #fff;
  font-size: 20px;
  z-index: 1;
}

.lots__look-more-link {
  font-family: Raleway, sans-serif;
  color: #000;
  font-size: 20px;
  text-decoration: none;
  border-bottom: 1px solid black;
  margin-left: 40px;
}

.about {
  margin-top: 181px;
  max-width: 1340px;
  display: grid;
  grid-template-columns: 430px 2fr;
  gap: 25px;
  margin-left: 50px;
  margin-right: 50px;
  justify-content: center;
}

.about__logo-spacing {
  width: 430px;
  display: flex;
  justify-content: center;
  align-items: start;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  width: 240px;
  height: 240px;
  border-radius: 50%;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  margin-top: 100px;
  font-family: Raleway, sans-serif;
  color: #000;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  gap: 25px;
  flex-direction: column;
  font-family: Raleway, sans-serif;
  color: #000;
  font-size: 20px;
  margin-top: 100px;
  line-height: 1.2;
}

.footer {
  max-width: 1340px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  margin-top: 180px;
  margin-bottom: 90px;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-width: 149px;
}

.footer__menu-list {
  list-style: none;
}

.footer__menu-list-item {
  color: #000;
  font-size: 18px;
  text-align: center;
  font-family: Raleway, sans-serif;
}

.footer__menu-link {
  list-style-type: none;
  text-decoration: underline;
}

.footer__menu-link_active {
  list-style-type: none;
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: start;
  gap: 48px;
}

.footer__social-list-item {
  list-style-type: none;
  text-decoration: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
